<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">
    <item
        android:id="@+id/notice"
        android:title="Notices"
        android:icon="@drawable/notification"
        app:showAsAction="always"/>
    <item
        android:id="@+id/itm1"
        android:title="Score Board"
        android:icon="@drawable/sb"
        app:showAsAction="always"/>
    <item android:id="@+id/item2"
        android:title="Teams" />
    <item android:id="@+id/item4"
        android:title="About W.Cup" />
    <item android:id="@+id/location"
        android:title="Match Location" />






</menu>